@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;



*{
    font-family: "outfit",sans-serif;
}
.active hr{
    @apply block
}
::-webkit-scrollbar-thumb{
    background: #fff;
}
::-webkit-scrollbar{
    background: #fff;
}